div {
    width: 300px;
    background-color: #ffb6c1;
    margin: 10px;
    padding: 10px;
}

p {
    font-family: "Roboto Slab";
    font-size: 16px;
    background-color: #f8e71c;
    border: dashed 10px #f5a623;
    line-height: 1.4;
    /*this is the important part */
    padding: 10px;
    margin-bottom: 10px;  
    height: 180px;
}

.last {
    margin-bottom: 0;
}